<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">E-Commerce Bootcamp</span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a>Cart</a>
        </li>
        <li>
          <a [routerLink]="['checkout']">Checkout</a>
        </li>
        <li>
          <a>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>